<%= render 'gabarit_header' %>

<p>Bonjour <%= @user.firstname %>,</p>
<p>Nous avons bien enregistré votre commande sur ScrapDidi et nous vous en remercions.</p>
<p>Voici le détail de votre commande :</p>
<ul>
  <li>N° commande : <%= @current_order.id %></li>
  <li>Montant total : <%= helper_price(@current_order.total) %></li>
  <li>Mode de paiement : Virement</li>
  <li>Mode de livraison : <%= Delivery.find(@current_order.delivery_id).name %></li>
</ul>

<p>Et les informations pour effectuer le virement bancaire :</p>
<ul>
  <li>IBAN : FR00 | 1234 | 5678 | 1011 | 1213 | 1415</li>
</ul>
<p>Nous informerons de l’expédition de votre commande dès réception du paiement.</p>
<p>Merci de votre confiance et à bientôt.</p>

<%= render 'gabarit_footer' %>

