<%= render 'gabarit_header' %>

<p>Bonjour <%= @user.firstname %>,</p>
<p>Nous avons bien enregistré votre commande sur ScrapDidi et nous vous en remercions.</p>
<p>Voici le détail de votre commande :</p>
<ul>
  <li>N° commande : <%= @current_order.id %></li>
  <li>Montant total : <%= helper_price(@current_order.total) %></li>
  <li>Mode de paiement : Espèces</li>
  <li>Mode de livraison : <%= Delivery.find(@current_order.delivery_id).name %></li>
</ul>

<p>Au plaisir de se retrouver à mon domicile ou sur un salon.</p>
<p>Merci de votre confiance et à bientôt.</p>

<%= render 'gabarit_footer' %>

