<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="information-div">
        <p>
          <%= order.user.firstname %>
          <%= order.user.lastname %>
        </p>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= order.user.address %>
        </p>
        <p>
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <%= order.user.mobil_phone %>
        </p>
        <p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <%= order.user.email %>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="information-div">
        <p>
          <strong>N° de commande : <%= order.id %> </strong>
        </p>
        <p>
          Choix du mode de livraison :
          <%= order.delivery.name %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="waiting-comment">
        Motif de mise en attente
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-condensed">
        <tr>
          <th>Photo</th>
          <th>Référence</th>
          <th>Libellé</th>
          <th>Prix unitaire</th>
          <th>Qté</th>
          <th>Prix total</th>
          <th>Qté disponible</th>
          <th>Check</th>
        </tr>
        <% order.order_items.each do |oi| %>
          <tr>
            <td class="picture-order">
              <%= helper_picture_tag(oi.product) %>
            </td>
            <td><%= oi.product_id %></td>
            <td><%= oi.product.name %></td>
            <td>
              <%= helper_price(oi.product.price) %>
            </td>
            <td><%= oi.quantity %></td>
            <td>
              <%= helper_price(oi.product.price * oi.quantity) %>
            </td>
            <td>
              <%= oi.product.stock %>
            </td>
            <td></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="buttons-div">

        <%= simple_form_for order, remote: true do |f| %>
          <%= f.input :order_status_id, as: :hidden, input_html: {value: 3} %>
          <%= f.submit "Préapration en cours", class: "btn btn-primary btn-admin" %>
        <% end %>

        <%= simple_form_for order, remote: true do |f| %>
          <%= f.input :order_status_id, as: :hidden, input_html: {value: 5} %>
          <%= f.submit "Mise en attente", class: "btn btn-warning btn-admin" %>
        <% end %>

        <%= simple_form_for order, remote: true do |f| %>
          <%= f.input :order_status_id, as: :hidden, input_html: {value: 4} %>
          <%= f.submit "Expédiée", class: "btn btn-success btn-admin" %>
        <% end %>

        <%= simple_form_for order, remote: true do |f| %>
          <%= f.input :order_status_id, as: :hidden, input_html: {value: 6} %>
          <%= f.submit "Annuler", class: "btn btn-danger btn-admin" %>
        <% end %>


      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <table class="table table-condensed">
        <tr>
          <th>Produit</th>
          <th>Prix</th>
        </tr>
        <tr>
          <td>Livraison</td>
          <td>
            <%= order.delivery.price %> €
          </td>
        </tr>
        <tr>
          <td>Total</td>
          <td>
            <%= helper_price(order.total_price_cents) %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="comment-div">
        <form action="order_detail.php" method="post">
          <div class="container">
            <div class="row">
              <div class="comment-button">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="commentsOrder">Commentaires</label>
                    <textarea class="form-control" name="comments" id="commentsOrder">
                      <%= order.customer_message %>
                    </textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-info btn-block btn-lg">
                    Mettre à jour
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
