<div class="wrapper-features padder-100 text-center">
 <div class="container">
   <div class="row">
     </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="features-card">
          <i class="fa fa-clipboard" aria-hidden="true"></i>
          <h4>
            A traiter
          </h4>
          <p>
            <strong>
              <%= @order_placed.count %>
            </strong>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="features-card">
          <i class="fa fa-paperclip" aria-hidden="true"></i>
          <h4>
            En préparation
          </h4>
          <p>
            <strong>
              <?php numberOrderByState(2);?>
            </strong>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#waiting">
          <div class="features-card">
            <i class="fa fa-pause" aria-hidden="true"></i>
            <h4>
              En attente
            </h4>
            <p>
              <strong>
                <?php numberOrderByState(3);?>
              </strong>
            </p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="features-card">
          <i class="fa fa-truck" aria-hidden="true"></i>
          <h4>
            Expédiées
          </h4>
          <p>
            <strong>
              <%= @order_shipped.count %>
            </strong>
          </p>
        </div>
      </div>
   </div>
</div>


<div class="wrapper-news text-center">
  <h2 class="text-center">Commande(s) à traiter  (maxi 5)</h2>
    <div class="container">
      <table class="table table-condensed">
        <tr>
          <th class="">Date commande</th>
          <th class="">No commande</th>
          <th class="">Nom client</th>
          <th class="">Total</th>
          <th class="">moyen de paiement</th>
          <th class="">mode de livraison</th>
          <th class=""></th>
          <th class=""></th>
          <th class=""></th>
          <th class=""></th>
        </tr>

        <% @order_placed.each do |order| %>
          <tr>
            <td><%= order.created_at %></td>
            <td><%= order.id %></td>
            <td><%= order.user.lastname %></td>
            <td><%= helper_price(order.total_price_cents) %></td>
            <td><%= order.payment_type %></td>
            <td><%= order.delivery.name %></td>
            <td><i class="fa fa-search-plus" aria-hidden="true"></i></td>
          </tr>
        <% end %>

      </table>
    </div>
</div>

<div class="wrapper-card text-center">
  <h2>Préparation  (maxi 5)</h2>
  <div class="container">
      <table class="table table-condensed">
        <tr>
          <th class="">Date commande</th>
          <th class="">No commande</th>
          <th class="">Nom client</th>
          <th class="">Total</th>
          <th class="">moyen de paiement</th>
          <th class="">mode de livraison</th>
          <th class="">date de préparation</th>
          <th class=""></th>
          <th class=""></th>
          <th class=""></th>
        </tr>
<!--  -->
      </table>
  </div>
</div>

<div class="wrapper-news text-center">
  <h2>En attente  (maxi 5)</h2>
    <div class="container">
      <table class="table table-condensed">
        <tr>
          <th class="">Date commande</th>
          <th class="">No commande</th>
          <th class="">Nom client</th>
          <th class="">Total</th>
          <th class="">moyen de paiement</th>
          <th class="">mode de livraison</th>
          <th class="">date de préparation</th>
          <th class="">date de mise en attente</th>
          <th class="">motif</th>
          <th class=""></th>
        </tr>
<!--  -->
      </table>
    </div>
</div>



