<div class="wrapper-features padder-100 text-center">
 <div class="container">
   <div class="row">
     </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="features-card">
          <i class="fa fa-clipboard" aria-hidden="true"></i>
          <h4>
            A traiter
          </h4>
          <p>
            <strong>
              <%= @order_payed.count %>
            </strong>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="features-card">
          <i class="fa fa-paperclip" aria-hidden="true"></i>
          <h4>
            En préparation
          </h4>
          <p>
            <strong>
              <%= @order_in_preparation.count %>
            </strong>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#waiting">
          <div class="features-card">
            <i class="fa fa-pause" aria-hidden="true"></i>
            <h4>
              En attente
            </h4>
            <p>
              <strong>
                <%= @order_pending.count %>
              </strong>
            </p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="features-card">
          <i class="fa fa-truck" aria-hidden="true"></i>
          <h4>
            Expédiées
          </h4>
          <p>
            <strong>
              <%= @order_shipped.count %>
            </strong>
          </p>
        </div>
      </div>
   </div>
</div>


<div class="wrapper-news text-center">
  <h2 class="text-center">Commande(s) à traiter  (maxi 5)</h2>
    <div class="container">
<!-- order list -->
      <%= render 'orders_list', {orders: @order_payed} %>
    </div>
</div>

<div class="wrapper-card text-center">
  <h2>Préparation  (maxi 5)</h2>
  <div class="container">
    <%= render 'orders_list', {orders: @order_in_preparation} %>
  </div>
</div>

<div class="wrapper-news text-center">
  <h2>En attente  (maxi 5)</h2>
    <div class="container">
      <%= render 'orders_list', {orders: @order_pending} %>
    </div>
</div>



