<div class="container">
  <div class="row">
    <div class="steps">
      <%= helper_step("Confirmation") %>
    </div>
  </div>
  <div class="row">
    <h3>PAIEMENT COMPTANT A LA LIVRAISON</h3>
    <hr>
    <strong>Vous avez choisi le paiement à la livraison. Voici un bref récapitulatif de votre commande</strong>
    <ul>
      <li>N° commande : <%= @order.id %></li>
      <li>Montant total : <%= helper_price(@order.subtotal + @order.shipping_price) %> € TTC</li>
      <li>Mode de paiement : Espèces</li>
      <li>Mode de livraison : <%= @order.delivery.name %></li>
    </ul>

    <p>Au plaisir de se retrouver à mon domicile ou sur un salon.</p>
    <p>Merci de votre confiance et à bientôt.</p>
    <%= link_to "Retour à la boutique", root_path, class: "btn btn-block btn-primary" %>
  </div>

</div>
