<div class="container">
  <div class="row">
    <div class="hidden-xs col-sm-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active home-slideshow">
            <%= image_tag "instagram.jpg"%>
            <div class="carousel-caption">
              Instagram
            </div>
          </div>
          <div class="item home-slideshow">
            <%= image_tag "logo.png" %>
            <div class="carousel-caption">
              <h3>Scrapdidi</h3>
              <p>Ce que vous ne trouverez pas ailleurs est ici</p>
            </div>
          </div>
          <div class="item home-slideshow">
            <%= image_tag "panier.png"%>
            <div class="carousel-caption">
              Panier
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card">
          <%= link_to product_path(product), class: "btn" do %>
            <%= image_tag "logo.png" %>
            <p>
              <%= product.name %>
            </p>
            <p>
              <%= product.price/100.to_f %>€ |
              <%= product.stock %>
            </p>
            <p class="btn btn-primary btn-block">Ajouter au panier</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
