<tr>
  <td class="td-reference">
  photo
  </td>
  <td class="td-name">
      <%= product.name %>
    <p>
      <%= order_item.product.sku %>
    </p>
  </td>
  <td class="td-price">
    <%= helper_price(order_item.unit_price) %>
  </td>
  <td class="td-quantity up_down">
    <%= simple_form_for order_item, remote: true do |f| %>
      <%= f.hidden_field :quantity, value: order_item.quantity-1 %>
      <%= f.submit "-", class: "btn-less" %>
    <% end %>

    <button class="btn-quantity">
      <%= order_item.quantity %>
    </button>

    <%= simple_form_for order_item, remote: true do |f| %>
      <%= f.hidden_field :quantity, value: order_item.quantity+1 %>
      <%= f.submit "+", class: "btn-more" %>
    <% end %>
  </td>
  <td class="td-total">
      <%= helper_price(order_item.total_price) %>
  </td>

  <td class="td-trash">
    <%= link_to order_item_path(order_item), method: :delete, remote: :true, data:{confirm: "Etes vous sur de vouloir supprimer #{product.name}"} do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>


