
<div class="container">
  <div class="row">
    <div class="steps">
      <%= helper_step("Paiement") %>
    </div>
  </div>

  <div class="row">
    <%= render "carts/shopping_cart" %>
  </div>
</div>

<div class="container">
  <div class="row">


      <div class="col-xs-12 col-sm-6">
        <%= form_tag order_payments_path(@order) do %>
          <p class="btn-payement">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="scrapdidi.fr"
            data-email="<%= current_user.email %>"
            data-description="Commande n° <%= @order.id %>"
            data-locale="auto"
            data-amount="<%= @order.total_price_cents %>"
            data-image="https://stocklogos.com/sites/default/files/ferrari-logo_0.jpg"
            data-currency="EUR"></script>
          </p>

        <% end %>
      </div>

    <%= link_to cart_virement_path do %>
      <div class="col-xs-12 col-sm-6">
        <p class="btn-payement">
          <i class="fa fa-university" aria-hidden="true"></i>
          Virement bancaire
        </p>
      </div>
    <% end %>
    <%= link_to cart_cheque_path do %>
      <div class="col-xs-12 col-sm-6">
        <p class="btn-payement">
          Chéque

        </p>
      </div>
    <% end %>
    <%= link_to cart_especes_path do %>
      <div class="col-xs-12 col-sm-6">
        <p class="btn-payement">
          <i class="fa fa-money" aria-hidden="true"></i>
          Espèce
        </p>
      </div>
    <% end %>
  </div>
</div>
