<div class="container">
  <%= render "shared/menu" %>

  <div class="row">
    <div class="menu-items">
      <%= arranged_tree_as_list(@category.children.arrange) do |category| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <div class="card-category">
            <%= link_to category_path(category) do %>
              <%= image_tag "Badges.jpg" %>
              <%= category.name %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
        <%= render "products/product_card", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>
