<div class="col-xs-12 col-sm-4 col-md-3">
  <div class="card">
    <%= link_to product_path(product),id: "#{product.sku}" , class: "btn" do %>
      <%= helper_picture_tag(product) %>
      <p>
        <%= product.name %>
      </p>
      <p>
        <%= number_to_currency(product.price/100.00, unit:"€", format: "%n %u") %> |
        <%= product.stock %>
      </p>
      <%= simple_form_for order_item, remote: true do |f| %>
          <%= f.hidden_field :quantity, value: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Ajouter au panier", class: "btn btn-primary btn-block add-basket-alert", id: product.name %>
      <% end %>
    <% end %>
  </div>
</div>
