<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= simple_form_for(@product) do |f| %>
          <%= f.error_notification %>
          <% if @product.errors.any? %>
            <%= @product.errors.full_messages.join("") %>
          <% end %>

          <%= f.input :name %>
          <%= f.input :sku %>
          <%= f.input :state, collection: ['new', 'promotion', 'topsell'] %>
          <%= f.input :supplier_id, collection: @suppliers %>
          <%= f.input :brand_id, collection: @brands %>
          <%= f.input :category_id, collection: @list_categories %>
          <%= f.input :purchasing_price %>
          <%= f.input :coefficient %>
          <%= f.input :discount_rate %>
          <%= f.input :price %>
          <%= f.input :weight %>
          <%= f.input :stock %>
          <%= f.input :description %>
          <%= f.input :home, collection: ["yes", "no"] %>
          <%= f.input :photos, as: :attachinary %>
          <%= f.button :submit %>
        <% end %>
      </div>
  </div>
</div>
