<div class="container">
  <%= render "shared/menu" %>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="picture-show">
        <%= helper_picture_tag(@product) %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>
        <%= @product.name %> | <%= @product.brand.name %>
      </p>
      <p>
        Description:
        <%= @product.description %>
      </p>
      <div class="price-stock-zone">
        <div class="btn btn-primary price-stock">
          Prix:
          <%= @product.price/100 %>€
        </div>
        <div class="btn btn-success price-stock">
          Stock:
          <%= @product.stock %>
        </div>
      </div>
      <p class="btn btn-primary btn-block">Ajouter au panier</p>
    </div>
  </div>
</div>

