<div class="container">
  <%= render "shared/menu" %>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="picture-show">
        <%= helper_picture_tag(@product) %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>
        <%= @product.name %> | <%= @product.brand.name %>
      </p>
      <p>
        Description:
        <%= @product.description %>
      </p>
      <div class="price-stock-zone">
        <div class="btn btn-primary price-stock">
          Prix:
          <%= number_to_currency(@product.price/100.00, unit:"€", format: "%n %u") %>
        </div>
        <div class="btn btn-success price-stock">
          Stock:
          <%= @product.stock %>
        </div>
      </div>
      <p>
        <%= simple_form_for @order_item, remote: true do |f| %>
          <%= f.hidden_field :quantity, value: 1 %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.submit "Ajouter au panier", class: "btn btn-primary btn-block add-basket-alert" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
